/* 
    Document   : style
    Created on : Jun 2, 2012, 3:09:47 PM
    Author     : abu
    Description:
        Purpose of the stylesheet follows.
*/

h1{
	color: red;
}

html, body {
	cursor: url('../images/mouse_hide.png'),auto;
	margin: 0px;
	@background-color:#FFFFFF;
	overflow: hidden;
	padding: 0px;
	z-index: -2;
}

.cursor{
	width: 128px;
	height: 128px;
	background: url('../images/hand.png');
	position: absolute;
	z-index: -1;
}

.content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.log{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #333;
	color: white;
	opacity: .3;
}

.pane{
	position: fixed;
	width: 100px;
	right: -99px;
	top:0px;
	bottom: 0px;
	padding-left: 10px;
	background: black;
	opacity: .5;
}

.pane_icon{
	width: 64px;
	height: 64px;
	left: 18px;
	position: relative;
}

.exit_app{
	background: url('../images/exit_app.png');
}
.home_app{
	background: url('../images/home_app.png');
}

.clear{
	clear: both;
	height: 5px;
}


.lists{
	width: 670px;
	border: 1px solid;
	height: 445px;
	margin: 0 auto;
	overflow: hidden;
}

.frame{
	position: relative;
}

.lists-sub{
	width: 200px;
	height: 200px;
	border: 1px solid;
	float: left;
	margin: 10px;
}

.pageUp{
	height: 128px;
	background-image: url('../images/up.png');
	margin: 0 auto;
	width: 128px;
}

.pageDown{
	height: 128px;
	background-image: url('../images/down.png');
	margin: 0 auto;
	width: 128px;
}
