/* 
    Document   : style
    Created on : Jun 2, 2012, 3:09:47 PM
    Author     : fr3ak
    Description:
        Purpose of the stylesheet follows.
*/

h1{
	color: red;
}

html, body {
	margin: 0px;
	background-color:#FFFFFF;
	padding: 0px;
	overflow-x: hidden; 
}

.log{
	width: 100%;
	position: fixed;
	bottom: 0px;
	background-color: #333;
	color: white;
}

.pane{
	position: fixed;
	width: 100px;
	right: -99px;
	top:0px;
	bottom: 0px;
	background: black;
}
